*{
    cursor:pointer;
}
.borderstyle1{
    border-style:solid;
}
.borderstyle2{
    border-style:dotted;
}
.borderstyle3{
    border-style:dashed;
}
.borderstyle4{
    border-style:double;
}
.borderstyle5{
    border-style:inset;
}
.borderstyle6{
    border-style:outset;
}
.bddesign{
    width:200px;
    height:200px;
    background-color:orange;

    /* border-radius:50%; */
    /* border-radius:100%; */
            /* all angle */
    border-radius:50px;
        
        /* topleft topright bottonright bottinleft */
        /* top&botton left&right */
    /* border-radius:10px 50px; */

        /* topleft topright bottonright bottonleft */
    /* border-radius: 10px 20px 50px 80px; */

    border-top-left-radius:30px;
    border-top-right-radius:50px;
    border-bottom-right-radius:80px;
    border-bottom-left-radius:100px;


}  
li{
    /* list-style-type:square; */
    /* list-style-type:circle; */
    /* list-style-type:none; */
    /* list-style:none; */

    /* list-style-type:decimal; */
    list-style-type:decimal-leading-zero;

    /* border:1px solid red; */
    border:1px;
    border-style:solid;
    border-color:orange;

    /* list-style-position:inside; */
    list-style-position:outside;
}

/* Attribute Selector */

input[type="text"],input[type="number"]{
    width:300px;
    background-color:green;
    color:#fff;
    border-radius:20px;
}
input[type="email"]{
    width:300px;
    background-color:red;
    color:#fff;
    border-radius:20px;
}
body{
    background-image:url("../img/icons/icon1.png");
    background-repeat:no-repeat;

    /* background-position:center; */
    /* background-position:right; */
    /* background-position:left; */
    /* background-position:top; */
    /* background-position:bottom; */

    /* background-position:right top; */
    /* background-position:left top; */
    /* background-position:right bottom; */
    background-position:left bottom;
}





/* 
element(tag)
id(#)
class(.)
group(,)
uni  (*)
attribute(tag[attribute])

name()  =function
[]      =array
 */
